<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form  method="post">
    {% csrf_token %}
    id : <input type="text" name="userid"><br>
    pw : <input type="password" name="userpw"><br>
<!--    <input type="submit" value="로그인" onkeyup="enterkey()" onclick="location.href='{% url 'login' %}'">-->

    <input type="submit" value="회원가입" class="btn solid" onkeyup="enterkey()" onclick="location.href='http://127.0.0.1:8000/login'">

</form>
</body>
</html>